.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    top: 0;
    transition: top ease 0.1s;
    border-style: solid;
    border-color: #3993ff;
    border-width: 2px;
}

.value{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    text-align: center;
}

.User{
    &-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
    }

    &-subcontainer{
        &-show{
            @extend .container;
            background-color: #ffffff;
        }
        &-noshow{
            @extend .container;
            background-color: #A5A5A5;
            border-color: #A5A5A5;
        }
        &-voted{
            @extend .container;
            background-color: #3993ff;
        }
        &-novoted{
            @extend .container;
            background-color: #A5A5A5;
            border-color: #A5A5A5;
        }
    }

    &-user{
        width: 100%;
        height: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    &-userValue{
        &-show{
            @extend .value;
            color: #3993ff;
        }

        &-noshow{
            @extend .value;
            color: #3993ff;
        }
    }

    &-name{
        justify-items: center;
        justify-content: center;
        padding: 0px !important;
        margin: 0px;
    }

    &-p{
        @extend .value;
        color: #000000;
        font-size: 10px;
    }
}