// .container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-shrink: 0;
//     border-radius: 12px;
//     padding: 10px;
//     margin: 10px;
//     width: 25px;
//     height: 50px;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     position: relative;
//     top: 0;
//     transition: top ease 0.1s;
//     border-style: solid;
//     border-color: #3993ff;
//     border-width: 2px;
// }

// .value{
//     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
//     font-size: 15px;
//     font-style: normal;
//     font-weight: 300;
//     margin: 0;
//     text-align: center;
// }

// .hover{
//     filter: brightness(1.2);
//     top: -2px;
//     cursor: pointer;
// }

// .Button{
//     &-container{
//         &-clicked{
//             @extend .container;
//             background-color: #3993ff;
//             top: -10px;
//         }

//         &-notclicked{
//             @extend .container;
//             background-color: #ffffff;
//         }

//         &-blocked{
//             @extend .container;
//             background-color: #A5A5A5;
//             pointer-events: none;
//         }
//     }
//     &-container-clicked:hover{
//         filter: brightness(1.2);
//         cursor: pointer;
//     }
//     &-subcontainer{
//         width: 100%;
//         height: 100%; 
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

//     &-value{
//         &-clicked{
//             @extend .value;
//             color: #ffffff;
//         }

//         &-notclicked{
//             @extend .value;
//             color: #3993ff;
//         }

//         &-blocked{
//             @extend .value;
//             color: #ffffff;
//         }
//     }

// }
.container{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-shrink: 0;
    padding: 10px;
    margin: 10px;
    width: 120px;
    height: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    border-radius: 12px;
    background-color: #1976D2;
    border-width: 2px;
}
.value{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    text-align: center;
}
.hover{
    filter: brightness(1.2);
    top: -0.5px;
    cursor: pointer;
}

.Button{
    &-container{
        @extend .container;
    }

    &-container:hover{
        @extend .hover;
        border-radius: 8px;
    }

    &-subcontainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }

    &-text{
        @extend .value;
        color: #FFFFFF;
    }
}