/* Icon Button */
.icon-button {
    // --button-size: calc(var(--nav-item-size) * 0.5);
    width: var(--nav-item-size);
    // width: 100px;
    height: calc(var(--nav-item-size)*0.25);
    // background-color: #484a4d;
    border-radius: 5px; // diffrent from dropdown menu
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .icon-button:hover {
    filter: brightness(1.2);
  }
  
  .icon-button svg { 
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }