.CardDeck{
    &-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    &-subcontainer{
        position: relative;
        display: flex;
        flex-direction: row;
        //flex-wrap: wrap;
        //justify-content: center;
        box-sizing: border-box;
        overflow: scroll;
        padding: 0px;
        margin: 0px;

    }

    &-item{
        list-style: none;
    }
}